* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

.header-home {
    background: #eef9ff;
    height: 64px;
}

.header-pages {
    background: #FFFFFF;
}

.container {
    display: flex;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    align-items: center;
    padding: 24px;
    justify-content: space-between;
}

.container-pages {
    height: 220px;
}

.itens-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.itens-menu > li {
    display: inline-block;
    padding-right: 16px;
}

.itens-menu > li > a {
    text-decoration: none;
    color: #000000;
}

.itens-menu > li > a:hover {
    border-bottom: 1px solid #129bdf;
}

.button-default {
    background: #39BEFF;
    border-radius: 6px;
    border: none;
    padding: 12px 42px;
    color: #FFFFFF;
    font-size: 16px;
    outline: none;
}

.button-default:hover {
    background-color: #90CAF9;
}

.section-home {
    background: #eef9ff;
    height: calc(100vh - 64px);
}

.section-pages {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.imagem-sorteime {
    width: 500px;
}

.imagem-pages {
    height: 100%;
    overflow: hidden;
    background-image: url("imagens/contato-bg.svg");
}

.sobre-page {
    background-image: url("imagens/sobre-bg.jpg");
}

.imagem-pages > h1 {
    margin: 82px auto 82px 160px;
    font-weight: normal;
    font-size: 42px;
    margin-bottom: 104px;
    color: #FFFFFF;
}

.container-contato {
    width: 50%;
    margin: auto;
    align-items: center;
}

.container-contato > h1 {
    padding-top: 48px;
    text-align: center;
    font-size: 24px;
}

.textarea-form {
    resize: none;
    height: 144px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin-bottom: 24px;
    outline: none;
}

form > input {
    margin-bottom: 24px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 39px;
    outline: none;
}

.button-form {
    margin-bottom: 104px;
}

.video-sobre {
    margin-left: 24px;
}

.footer-sobre {
    background: #eef9ff;
    overflow: none;
}

.perfil-image {
    height: 80px;
    width: 88px;
    float: left;
    padding-right: 16px;
}

.perfil-sobre > h1 {
    font-size: 18px;
}

.perfil-sobre > h2 {
    font-size: 14px;
    color: #929292;
    font-weight: normal;
}

.dados-sobre {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}